@import "general";

.div4 {
    @include MB {
        margin-top: m(19);
        margin-bottom: m(20);
    }

    display: flex;
    flex-direction: column;
    margin-top: p(20);

    .row1 {
        @include MB {
            font-size: m(20);
            line-height: m(23);
            margin-bottom: m(7);
        }

        font-size: p(48);
        font-weight: 500;
        color: #343846;
        margin-bottom: p(5);
    }

    .row2 {
        @include MB {
            font-size: m(12);
            width: m(284);
            line-height: normal;
        }

        font-size: p(20);
        font-weight: 300;
        line-height: p(23.44);
    }

    .row3 {
        @include MB {
            font-size: m(12);
            margin-top: m(-2);
        }

        font-size: p(24);
        font-weight: 400;

        span {
            @include MB {
                font-size: m(36);
            }

            @include text-gradient;
            font-size: p(48);
            font-weight: bold;
            margin-right: p(15);
        }
    }

    .row4 {
        @include MB {
            display: none;
        }
        // display: flex;
        // align-items: flex-end;
        // justify-content: center;
        // gap: 5.72vw;
        font-size: 1.25vw;
        font-weight: 500;
        position: relative;
        margin-top: 1.4vw;
        width: 100%;
        // overflow-x: auto;
        // overflow-y: hidden;
        // padding: 0 5vw;
        // padding-bottom: 2vw;
        // height: 7vw;
        // width: 64vw;
        // &::-webkit-scrollbar {
        //     background: transparent;
        // }

        // &::before {
        //     content: "";
        //     position: absolute;
        //     width: 100%;
        //     height: 0.41vw;
        //     background: rgba(249, 0, 59, 0.2);
        //     border-radius: 0.26vw;
        //     bottom: 1vw;
        // }

        .text {
            // height: 100% !important;
            // flex: 1;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            // text-align: center;
            cursor: pointer;
            // padding: 0 1.2vw;
            // width: 30%;

            display: inline-block;
            width: 12.8vw;
            text-align: center;
            padding: 2vw 2vw;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 0.41vw;
                background: rgba(249, 0, 59, 0.2);
                // border-radius: 0.26vw;
                bottom: 0;
                left: 0;
            }

            &.active {
                &::before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 0.41vw;
                    background: rgba(243, 6, 69, 1);
                    border-radius: 0.26vw;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }


    // .row4 {
    //     @include MB {
    //         display: none;
    //     }

    //     font-size: p(24);
    //     font-weight: 500;
    //     color: #343846;
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     text-align: center;
    //     position: relative;
    //     gap: p(60);
    //     margin-top: p(10);

    //     &::before {
    //         position: absolute;
    //         content: "";
    //         width: 100%;
    //         height: p(8);
    //         border-radius: p(5);
    //         background: rgba(249, 0, 59, 0.2);
    //         bottom: p(-20);
    //     }

    //     .text {
    //         padding: 0 p(41);
    //         position: relative;
    //         cursor: pointer;

    //         &.active {
    //             &::before {
    //                 position: absolute;
    //                 content: "";
    //                 width: 100%;
    //                 height: p(8);
    //                 border-radius: p(5);
    //                 background: linear-gradient(135deg, #e32068 0%, #f5003b 100%);
    //                 bottom: p(-20);
    //                 left: 0;
    //             }
    //         }
    //     }
    // }

    .row5 {
        @include MB {
            gap: m(16);
            padding-left: m(38);
            margin-top: m(24);
        }

        display: flex;
        flex-direction: column;
        gap: p(15);
        padding-left: p(112);
        position: relative;
        margin-top: p(50);

        &::before {
            @include MB {
                width: m(8);
                border-radius: m(10);
                left: m(12);
            }

            position: absolute;
            content: "";
            width: p(8);
            height: 100%;
            border-radius: p(5);
            background: rgba(249, 0, 59, 0.2);
            left: p(28);
        }

        .items {
            @include MB {
                border-radius: m(10);
                border-radius: m(10);
            }

            @include box-shadow;
            background: white;
            border-radius: p(10);
            position: relative;

            .number {
                @include MB {
                    width: m(30);
                    height: m(30);
                    left: m(-37);
                }

                position: absolute;
                width: p(60);
                height: p(60);
                border-radius: 100%;
                box-shadow: 0px p(4) p(4) rgba(0, 0, 0, 0.25);
                display: flex;
                justify-content: center;
                align-items: center;
                left: p(-110);
                background: #efefef;

                span {
                    @include MB {
                        font-size: m(10);
                        width: 70%;
                        height: 70%;
                    }

                    width: 80%;
                    height: 80%;
                    background: rgba(249, 0, 59, 1);
                    font-size: p(24);
                    font-weight: 500;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    border-radius: 100%;
                    color: white;
                }
            }

            .top {
                @include MB {
                    padding: m(8) m(12);
                    border-bottom: m(1) black dashed;
                }

                padding: p(10) p(47);
                border-bottom: p(1) black dashed;

                .title {
                    @include MB {
                        font-size: m(20);
                    }

                    font-size: p(24);
                    font-weight: 500;
                    @include text-gradient;
                    display: flex;

                    .title_image {
                        @include MB {
                            display: none;
                        }

                        width: p(24);
                        height: p(18);
                        margin-left: p(21);
                        transform: translateY(p(-4));
                    }
                }

                .description {
                    @include MB {
                        font-size: m(12);
                    }
                    font-size: p(16);
                    font-weight: 300;
                }
            }

            .template {
                @include MB {
                    display: none;
                }
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: p(16);
                padding: p(16) p(46);

                .item {
                    @include box-shadow;
                    border-radius: p(10);
                    padding: p(8);
                    position: relative;
                    display: flex;
                    flex-direction: column;

                    .image {
                        img {
                            border-radius: p(10);
                        }
                    }

                    .name {
                        font-size: p(20);
                        font-weight: 500;
                        line-height: 100%;
                        margin-top: p(8);
                        margin-bottom: p(27);
                    }

                    .button {
                        position: relative;
                        bottom: 0;
                        margin-top: auto;

                        a {
                            cursor: pointer;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: linear-gradient(135deg, #e32068 0%, #f5003b 100%);
                            border-radius: p(5);
                            color: white;
                            font-size: p(16);
                            font-weight: 500;
                            height: p(36);

                            &.disable {
                                background: #343846;
                                opacity: 0.7;
                            }

                            .button_image {
                                width: p(14);
                                height: p(14);
                                transform: translateY(p(-6));
                                margin-right: p(5);
                            }
                        }
                    }
                }
            }

            .template_mb {
                @include PC {
                    display: none;
                }
                padding: m(12);
                padding-bottom: m(35);

                .slide {
                    .slide_container {
                        margin: m(4);
                        box-shadow: rgba(99, 99, 99, 0.2) 0px m(2) m(8) 0px;
                        border-radius: m(10);
                        padding: m(8);
                        position: relative;

                        .image {
                            img {
                                border-radius: m(10);
                            }
                        }

                        .name {
                            font-size: m(14);
                            font-weight: 500;
                            line-height: 100%;
                            margin-top: m(7);
                            margin-bottom: m(13);
                        }

                        .button {
                            position: relative;
                            bottom: 0;
                            a {
                                width: 100%;
                                height: m(32);
                                border-radius: m(5);
                                background: linear-gradient(135deg, #e32068 0%, #f5003b 100%);
                                font-size: m(14);
                                font-weight: 500;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: white;
                                gap: m(8);

                                &.disable {
                                    background: #343846;
                                    opacity: 0.7;
                                }

                                .button_image {
                                    width: m(15);
                                    height: m(15);
                                    img {
                                        transform: translateY(m(-1));
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .final {
            @include MB {
                border-radius: m(10);
                padding: m(17) m(29);
                gap: m(18);
                padding-top: m(17);
            }
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: linear-gradient(135deg, #e32068 0%, #f5003b 100%);
            @include box-shadow;
            border-radius: p(10);
            color: white;
            padding: p(17) p(300);
            text-align: center;
            gap: p(16);
            padding-top: p(23);
            position: relative;

            .number {
                @include MB {
                    width: m(30);
                    height: m(30);
                    left: m(-37);
                }

                position: absolute;
                width: p(60);
                height: p(60);
                border-radius: 100%;
                box-shadow: 0px p(4) p(4) rgba(0, 0, 0, 0.25);
                display: flex;
                justify-content: center;
                align-items: center;
                left: p(-110);
                top: 0;
                background: #efefef;

                span {
                    width: 80%;
                    height: 80%;
                    background: rgba(249, 0, 59, 1);
                    font-size: p(24);
                    font-weight: 500;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    border-radius: 100%;
                    color: white;

                    img {
                        @include MB {
                            width: m(12);
                            height: m(12);
                        }

                        width: p(25);
                    }
                }
            }

            .title {
                @include MB {
                    font-size: m(24);
                }

                font-size: p(34);
                font-family: "SVN-Gotham bold", sans-serif;
                font-weight: 900;
                line-height: 100%;
            }

            .description {
                @include MB {
                    font-size: m(12);
                    line-height: normal;
                }

                font-size: p(16);
                line-height: p(19.2);
            }

            .button {
                a {
                    @include MB {
                        width: m(127);
                        height: m(36);
                        border-radius: m(5);
                    }

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: white;
                    width: p(203);
                    height: p(48);
                    border-radius: p(5);

                    span {
                        @include MB {
                            font-size: m(14);
                            color: #f9003b;
                        }

                        @include text-gradient;
                        font-size: p(16);
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

.category_mb {
    @include PC {
        display: none;
    }

    position: relative;
    margin-top: m(5);

    select {
        width: 100%;
        font-size: 3.86vw;
        font-weight: 500;
        padding: 1.8vw 3.62vw;
        background: transparent;
        border-radius: 1.2vw;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: "";
    }

    &::before {
        position: absolute;
        content: "";
        width: 2.4vw;
        height: 2.4vw;
        right: 3.62vw;
        top: 3.8vw;
        background: url("/images/account-header-dropdown-black.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 1;
    }
}
